<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta
          name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>com.elgato.template Property Inspector</title>
    <link rel="stylesheet" href="../../../libs/css/sdpi.css" />
</head>

<body>
    <div class="sdpi-wrapper">

        <div class="sdpi-item" id="select_single">
            <div class="sdpi-item-label">Action Group</div>
            <select class="sdpi-item-value select" id="agSelect" onchange="updateButton()">
               <option value="None">None</option>
               <option value="Stage">Stage</option>
               <option value="Abort">Abort</option>
               <option value="Brakes">Brakes</option>
               <option value="Gear">Gear</option>
               <option value="Lights">Lights</option>
               <option value="SolarPanels">Solar Panels</option>
               <option value="RadiatorPanels">Radiator Panels</option>
               <option value="Science">Science</option>
               <option value="RCS">RCS</option>
               <option value="SAS">SAS</option>
               <option value="Custom01">Custom 1</option>
               <option value="Custom02">Custom 2</option>
               <option value="Custom03">Custom 3</option>
               <option value="Custom04">Custom 4</option>
               <option value="Custom05">Custom 5</option>
               <option value="Custom06">Custom 6</option>
               <option value="Custom07">Custom 7</option>
               <option value="Custom08">Custom 8</option>
               <option value="Custom09">Custom 9</option>
               <option value="Custom10">Custom 10</option>
            </select>
        </div>
    </div>

    <div class="sdpi-info-label hidden" style="top: -1000" value=""></div>

    <!-- Stream Deck Libs -->
    <script src="../../../libs/js/constants.js"></script>
    <script src="../../../libs/js/prototypes.js"></script>
    <script src="../../../libs/js/timers.js"></script>
    <script src="../../../libs/js/utils.js"></script>
    <script src="../../../libs/js/events.js"></script>
    <script src="../../../libs/js/api.js"></script>
    <script src="../../../libs/js/property-inspector.js"></script>
    <script src="../../../libs/js/dynamic-styles.js"></script>

    <!-- Property Inspector Source -->
    <script src="inspector.js"></script>
</body>

</html>
